doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(media="screen", rel="stylesheet", type="text/css", src="/stylesheets/reset.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
  body
    header
      h1
       a(href="/") readme

    div
      form
        div
          label(for="image")
          input(type="file" name="image")
          input(type="submit")
